 <!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link href="{% static "blog/styles.css" %}" rel="stylesheet" text="text/css" >
<link href="{% static "base.css" %}" rel="stylesheet" text="text/css" >
<title>My blog data</title>
<h1> My blog data </h1>
</head>
<body>

<table>

{% for value in namesdb %}
<tr>
<td> {{ value.author }} </td>
<td> {{ value.email| default:"khyaathi.trainings@gmail.com" }} </td>
<td> {{ value.title }} </td>
<td> {{ value.text }} </td>
<td> {{ value.created_date }} </td>
<td> {{ value.published_date }} </td>
</tr>
{% endfor %}

</table>
</body>
</html> 