{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Please post your data {% endblock %}

{% block content %} 
<form role='form' action='' method='post'>
{% csrf_token %}
{{ form|crispy }}
<button type="submit">submit</button>
<form>
{% endblock %}
