{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Please Join us{% endblock %}
	

{% block content %}
<form role='form' action='' method='post'>
{% csrf_token %}
{{ form|crispy }}
<button type="submit">submit</button>
<form>
{% endblock %}


