{% extends 'base.html' %}
{% block title %} Page not found {% endblock %}

{% block content %}
<h1> Page not Found </h1>
<p> Sorry, but the request page is unavailable dude to the server hicucups. </p>
<p> Our engineers have been notified , so check back later. </p>
{% endblock %}