<!DOCTYPE html>
<html lang="en">
  <head>

   <title>{% block title %} {% endblock %}</title>
   {% include 'bootstrap/header.html' %}

  </head>

  <body>
    {% include 'bootstrap/navbar.html' %}
    {% block content %} {% endblock %}

{% include 'bootstrap/footer.html' %}
  </body>
</html>
