{% extends 'base.html' %}

{% block title %}Welcome to our blog {% endblock %}

{% block content %}
    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>

      <div class="row">
 

<div class="col-sm-8 blog-main">

{% for value in namesdb %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{ value.title }}</h2>
            <p class="blog-post-meta">D{{ value.created_date }} <a href="#">{{ value.author }}</a></p>

            <p>{{ value.text }}</p>
          </div><!-- /.blog-post -->
{% endfor %}


      

       
          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main-->

    {% include 'bootstrap/sidebar.html' %}

      </div><!-- /.row -->



    </div><!-- /.container -->

{% endblock %}
